@import "./variables";

@import "./_vendor/ink";

@import "./_patterns/body";
@import "./_patterns/preview_text";
@import "./_patterns/utilities";


// override OL to remove dumb and hard to style decimals...
ol {
  list-style-type: none;
}

.sb-plain-container {
  margin: 0 !important;
}

table.container {
  /*background: #fff;*/
}



td.wrapper {
  &.sb-first {
    padding-top: 0;    
  }
}

.sb-content-header {
  background: #494849;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 100px;

  tr td {
    vertical-align: middle;
  }

  h1 {
    color: #fff;
  }
}

.sb-content-body {
  background: #fff;
}

.sb-content-footer {
  background: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}