// MEM
// scale-color($color, $saturation: -30%, $lightness: 20%, $alpha: 10%)

@mixin sb-button($base-color) {
  $base-lighter: lighten($base-color, 20%);
  $base-lightest: lighten($base-color, 40%);
  $base-darker: darken($base-color, 20%);

  tr {
    td {
      border: solid 1px $base-lighter;
    }
    a {
      display: block;
      width: 100%;
    }
  }

  &:hover {
    tr {
      td {
        background: $base-color !important; //necessary to override
        border: solid 1px $base-darker;
      }
      a {
        color: $white !important;
      }
    }
  }
}