@mixin link-states($base) {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: lighten($base, 30%);
  }
  &:hover {
    text-decoration: underline !important;
  }  
}

@mixin link-states-color($color) {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $color !important;
  }
}

@mixin link-hover-underline {
  &:hover {
    text-decoration: underline !important;
  }   
}