<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-comment thick text-pad">
            <table class="header">
              <tr>
                <td class="lede">On your <span class="u-text-ask">ask</span></td>
              </tr>
              <tr>
                <td class="post-title">
                  <h2>
                    Looking for Thing in Place with Stuff                    
                  </h2>
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="name" valign="bottom">
                  <a href="">James</a> said
                </td>
              </tr>
              <tr>
                <td class="body">
                  &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum reiciendis veritatis enim incidunt ab eaque dolorem? Tenetur odio est magnam repellendus. Dignissimos odit doloribus, possimus voluptatibus vel sit aperiam nulla!&rdquo;
                </td>
              </tr>
            </table>
            <table class="button large-button sb-button offer">
              <tr>
                <td>
                  <a href="#">Reply to James &raquo;</a>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>