<table class="sb-cta" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="sb-cta-text" align="center">
      <a href="#">Visit Switchboard &raquo;</a>
    </td>
  </tr>
</table>