{{!-- <table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="u-pad-none u-text-center">
            <p class="sb-cta">
              <a href="#">Go To Your Inbox &raquo;</a>                            
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table> --}}

<table class="row sb-cta">
  <a href="#">Go To Your Inbox &raquo;</a>                            

</table>