<table class="sb-footer" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="wrapper sb-footer-text" align="center">
      <hr>
      Copyright &copy; 2015 <a href="http://switchboardhq.com/weathergram/">Weathergram, Inc.</a>
      <br>
      | <a href="mailto:support@switchboardhq.com">Support</a> | <a href="http://twitter.com/switchboardhq">Twitter</a> |
      <br>
      <a href="#">Unsubscribe</a>
    </td>
  </tr>
</table>