<table class="row sb-footer-text">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td>
            <hr>
            <p class="text-pad">
              Copyright &copy; 2015
              <a href="http://switchboardhq.com/weathergram/">Weathergram, Inc.</a>
              <br>
{{!--               |
              <a href="http://switchboardhq.com/">Home</a> --}}
              |
              <a href="mailto:support@switchboardhq.com">Support</a>
              |
              <a href="http://twitter.com/switchboardhq">Twitter</a>
              |
              <br>
              <a href="#">Unsubscribe</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
