<table class="row sb-header-container">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="sb-header">

                    <img src="https://d1irp1f66haudy.cloudfront.net/assets/logo-white-6be7e88297359dbe831a51e255693ae5.png" alt="">

                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
<table class="row sb-community-header-container">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="sb-community-header-image">

                    <img src="https://d3oiiej22pa06r.cloudfront.net/uploads/community/logo/69/logo_image.png" alt="">

                  </td>
                  <td class="sb-community-header">
                    The Switchboard for
                    <h1>
                      Portland Startups        
                    </h1>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>