<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-communications-digest sb-text-pad-extra">
            <table class="header">
              <tr>
                <td class="lede">April 13th, 2015</td>
              </tr>
              <tr>
                <td class="post-title">
                  <h3></h3>
                </td>
              </tr>
            </table>
            <table class="sb-communication-history">
              <tr>
                <td class="name">
                  <a href="#">You</a> said
                </td>
              </tr>
              <tr>
                <td class="body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quibusdam fugiat totam et deserunt.
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>