<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-plain sb-plain-message">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium perferendis, debitis nisi molestiae dicta. Cumque nam cum, voluptas repellat voluptate illum, dolores doloremque culpa quaerat, sunt cupiditate est fugiat. Officia.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>