<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-plain sb-plain-greeting">
            Hello James,
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>