<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-plain sb-plain-sign-off">
            Thanks,
            <br>
            Team Switchboard
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>