<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-plain sb-plain-ps">
            P.S. &mdash; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, aliquam.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>