<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-post text-pad">
            <table class="header">
              <tr>
                <td class="post-title">
                  <h2>
                    Lorem ipsum dolor sit amet, consectetur.
                  </h2>
                </td>
              </tr>
            </table>
            <table class="body">
              <tr>
                <td class="offer text-pad">
                  Lorem ipsum dolor sit amet, consec tetur adip isicing elit. Doloremque nam, sed qua...
                </td>
              </tr>
            </table>
            <table class="footer">
              <tr>
                <td class="text-pad">
                  &mdash; Jerry C. on April 18th
                </td>
              </tr>
            </table>
            <table class="button sb-button offer">
              <tr>
                <td>
                  <a href="#">Read Jerry's Offer</a>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>