<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-post-list text-pad">
            <table class="header">
              <tr>
                <td class="lede">
                  More posts from the past week...
                </td>
              </tr>
              <tr>
                <td>
                  <h4></h4>
                </td>
              </tr>
            </table>
            <table class="body">
              <tr>
                <td>
                  <table>
                    <tr>
                      <td class="post-title">
                        <h3 class="ask">
                          <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
                          (4/20)
                        </h3>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="post-title">
                        <h3 class="offer">
                          <a href="#">Lorem ipsum dolor sit amet, consectetur.</a>
                          (4/20)
                        </h3>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="post-title">
                        <h3 class="offer">
                          <a href="#">Lorem ipsum dolor sit amet, consectetur.</a>
                          (4/20)
                        </h3>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="post-title">
                        <h3 class="ask">
                          <a href="#">Lorem ipsum dolor sit.</a>
                          (4/20)
                        </h3>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="post-title">
                        <h3 class="offer">
                          <a href="#">Lorem ipsum dolor. Lorem ipsum.</a>
                          (4/20)
                        </h3>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>