<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="sb-post thick sb-post-main text-pad">
            <table class="header">
              <tr>
                <td class="post-title">
                  <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                  </h1>
                </td>
              </tr>
            </table>
            <table class="body">
              <tr>
                <td class="ask text-pad">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, qui veniam ullam, laborum quisquam asperiores ab reprehenderit officiis excepturi quas blanditiis tenetur non eius harum at sint provident, eos autem!
                </td>
              </tr>
            </table>
            <table class="footer">
              <tr>
                <td class="text-pad">
                  &mdash; Queen M. on April 16th
                </td>
              </tr>
            </table>
            <table class="button large-button sb-button ask">
              <tr>
                <td>
                  <a href="#">Read Queen's Ask</a>
                </td>
              </tr>
            </table>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>