<table class="row sb-preview-text">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quaerat. 
            <hr />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>