<table class="sb-reply" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="sb-reply-text wrapper" align="center">
      <hr>
        &mdash; To reply by email, write above this line &mdash;
      <hr>
    </td>
  </tr>
</table>