<table class="row sb-reply-text">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td>
            <hr>
            &mdash; Please, reply above this line &mdash;
            <hr>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>