---
layout: notification.hbs
subject: James Messaged You On Switchboard
---

<table class="container">
<tr>
<td>
  {{> reply-above }}
  {{> comment }}
  <table class="row">
    <tr>
      <td class="wrapper">
        <table class="twelve columns">
          <tr>
            <td class="sb-comment sb-comment-history text-pad">
              <table class="header">
                <tr>
                  <td class="lede">Others have also chimed in</td>
                </tr>
                <tr>
                  <td class="post-title">
                    <h3></h3>
                  </td>
                </tr>
              </table>
              <table class="history first">
                <tr>
                  <td class="name">
                    <a href="#">You</a> said
                  </td>
                </tr>
                <tr>
                  <td class="body">
                    &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum reiciendis veritatis enim incidunt ab eaque dolorem? Tenetur odio est magnam repellendus. Dignissimos odit doloribus, possimus voluptatibus vel sit aperiam nulla!&rdquo;
                  </td>
                </tr>
              </table>
              <table class="history second">
                <tr>
                  <td class="name">
                    <a href="#">Someone Else</a> said                    
                  </td>
                </tr>
                <tr>
                  <td class="body">
                    &ldquo;Lorem ipsum. Dignissimos odit doloribus, possimus voluptatibus!&rdquo;
                  </td>
                </tr>
              </table>
              <table class="history third">
                <tr>
                  <td class="name">
                    <a href="#">Another</a> said                    
                  </td>
                </tr>
                <tr>
                  <td class="body">
                    &ldquo;Lorem ipsum dolor sit amet dignissimos odit doloribus. Possimus voluptatibus vel sit aperiam nulla!&rdquo;
                  </td>
                </tr>
              </table>
              <table class="ellipsis">
                <tr>
                  <td>
                    &hellip;
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  {{> cta-post }}
  {{> footer }}
</td>
</tr>
</table>