---
layout: notification.hbs
subject: James Messaged You On Switchboard
---

<table class="container">
<tr>
<td>
  {{> reply-above }}
  {{> comment }}
  {{> cta-post }}
  {{> footer }}
</td>
</tr>
</table>