---
layout: digest.hbs
subject: Digest for Week of 4/20
---

<table class="container">
<tr>
<td>
  {{> preview-text }}
  {{> post-main}}
  {{> post-sub-offer }}
  {{> post-sub-ask }}
  {{> post-list }}
  {{> cta-feed }}
  {{> footer }}
</td>
</tr>
</table>