---
layout: digest.hbs
subject: Digest for Week of 4/20
---

<table class="container">
<tr>
<td>
  <table class="row sb-preview-text">
    <tr>
      <td class="wrapper">
        <table class="twelve columns">
          <tr>
            <td>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quaerat. 
              <hr />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row">
    <tr>
      <td class="wrapper">
        <table class="twelve columns">
          <tr>
            <td class="sb-post sb-post-main text-pad">
              <h1 class="title">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
              </h1>
              <p class="ask body text-pad">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, qui veniam ullam, laborum quisquam asperiores ab reprehenderit officiis excepturi quas blanditiis tenetur non eius harum at sint provident, eos autem!
              </p>
              <p class="footer text-pad">
                &mdash; Queen M. on April 16th
              </p>
              <table class="button sb-button ask">
                <tr>
                  <td>
                    <a href="#">Read Queen's Ask</a>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table class="row">
    <tr>
      <td class="wrapper">
        <table class="twelve columns">
          <tr>
            <td class="sb-post text-pad">
              <h2 class="title">
                Lorem ipsum dolor sit amet, consectetur.
              </h2>
              <p class="offer body text-pad">
                Lorem ipsum dolor sit amet, consec tetur adip isicing elit. Doloremque nam, sed qua...
              </p>
              <p class="footer">
                &mdash; Jerry C. on April 18th
              </p>
              <table class="button tiny-button sb-button offer">
                <tr>
                  <td>
                    <a href="#">Read Jerry's Offer</a>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row">
    <tr>
      <td class="wrapper">
        <table class="twelve columns">
          <tr>
            <td class="sb-post text-pad">
              <h2 class="title">
                Lorem ipsum dolor sit amet.
              </h2>
              <p class="ask body text-pad">
                Lorem ipsum dolor sit amet, consec tetur adip isicing elit. Doloremque nam, sed qua...

              </p>
              <p class="footer">
                &mdash; Milk S. on April 19th
              </p>
              <table class="button tiny-button sb-button ask">
                <tr>
                  <td>
                    <a href="#">Read Milk's Ask</a>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row">
    <tr>
      <td class="wrapper">
        <table class="twelve columns">
          <tr>
            <td class="sb-post-list text-pad">
              <h2 class="lede">
                More posts from the past week...
              </h2>

              <h3 class="title ask text-pad">
                <a href="#">
                  Lorem ipsum dolor sit amet, consectetur adipisicing.                  
                </a>
              </h3>

              <h3 class="title offer text-pad">
                <a href="#">
                  Lorem ipsum dolor sit amet, consectetur.                  
                </a>
              </h3>

              <h3 class="title offer text-pad">
                <a href="#">
                  Lorem ipsum dolor sit.                  
                </a>
              </h3>

              <h3 class="title ask text-pad">
                <a href="#">
                  Lorem ipsum dolor. Lorem ipsum.                  
                </a>
              </h3>

              <h3 class="title offer text-pad">
                <a href="#">
                  Lorem ipsum dolor sit amet, consectetur.                  
                </a>
              </h3>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row">
    <tr>
      <td class="wrapper">
        <table class="twelve columns">
          <tr>
            <td class="u-pad-none u-text-center">
              <p class="sb-cta">
                <a href="#">Go To Switchboard &raquo;</a>                            
              </p>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  {{> footer }}
</td>
</tr>
</table>