---
layout: default.hbs
subject: Notification email example
---
<table class="container sb-preview-text">
  <tr>
    <td>
      You just joined the <a href="https://pdxstartups.switchboardhq.com/">Portland Startups Switchboard</a>.
      We like you already. 
      <hr />
    </td>
  </tr>
</table>
<table class="container container-themed">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last sb-first">
            <table class="twelve columns sb-content-header">
              <tr>
                <td class="text-pad">
                  <h1>Congratulations!</h1>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns sb-content-body">
              <tr>
                <td class="text-pad">
                  <p class="u-pad-top">You just joined the Portland Startups Switchboard.</p>
                  <h2>You are awesome.</h2>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="row sb-last">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns sb-content-footer">
              <tr>
                <td class="text-pad">
                  <hr />
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>