---
layout: plain.hbs
subject: Hello James
---
<table class="container">
<tr><td>{{> preview-text }}</td></tr>
<tr>
<td>
  {{> plain-greeting }}
</td>
<tr>
  <td>
    {{> plain-body }}    
  </td>
</tr>
<tr>
  <td>
    {{> plain-signoff }}      
  </td>
</tr>
<tr>
  <td>
    {{> plain-postscript }}      
  </td>
</tr>
<tr>
  <td>
    {{> footer }}
  </td>
</tr>
</table>