%button {
  tr {
    td {
      background: #ffffff;
      border: solid 1px #dddddd;
      border-radius: 8px;
      a {
        color: #666666;
        &:visited,
        &:focus {
          color: #666666 !important; //necessary to override           
        }
      }
    }
  }

  &:hover {
    tr {
      td {
        background: #f5f5f5 !important; //necessary to override
        border: solid 1px #aaaaaa;
        a {
          color: #444444 !important; //necessary to override
        }
      }
    }
  }

  &.round {
    border-radius: 20px;
  }
}

table.button {
  &.sb-button {
    @extend %button;
    &.ask {
      @include sb-button($ask);    
    }
    &.offer {
      @include sb-button($offer)
    }
  }
}