.sb-small {
  color: #999999;
  font-size: 14px;
}

td.sb-comment {
  @extend %panel;
  padding: 20px 0;
  h2 {
    margin: 0 10px;
    span {
      color: #999999;
      display: block;
      font-size: 16px;
    }
    &.lede {
      border-bottom-width: 0 !important;
      color: #666666 !important;
      margin-bottom: 0;
      margin-top: 18px;
    }
  }
  p {
    margin: 0 10px;
    &.date {
      color: #666666;
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 15px;
      .on {
        @extend .sb-small;
      }
    }
    &.name {
      @extend .sb-small;
      padding-bottom: 4px;
      a {
        color: #666666 !important;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #444444;
        }
        &:hover {
          text-decoration: underline !important;
        }        
      }
    }

    &.body {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }

  &.history {
    background: #f5f5f5;
    p {
      padding: 8px 0 12px 0;
      &.lede {
        border-bottom: solid 0 #cccccc;
        color: #aaaaaa;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 4px;
        span {
          color: #bbbbbb;
          display: block;
          font-size: 11px;
        }
      }
      &.date {
        color: #888888;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 15px;
        .on {
          @extend .sb-small;
        }
      }
      // this is all sorts of fucked
      &.name {
        @extend .sb-small;
        margin-top: 12px;
        margin-bottom: 0;
        padding-bottom: 0;
        a {
          color: #888888 !important;
          font-size: 22px;
          font-weight: 400;
          line-height: 27px;

          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #888888 !important;
            text-decoration: none !important;
          }  
        }
        &.second {
          color: #aaaaaa !important;
          a {
            color: #999999 !important;
          }
        }

        &.third {
          color: #cccccc !important;
          a {
            color: #bbbbbb !important;
          }           
        }  
      }

      &.subject {
        color: #888888;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      &.body {
        // border-bottom: solid 0 #dddddd;
        color: #666666;
        font-size: 14px;
        line-height: 19px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 6px;
        &.second {
          color: #888888;
        }

        &.third {
          color: #aaaaaa;   
        } 
      }
      &.ellipsis {
        color: #aaaaaa;
        font-size: 22px;
        padding: 12px 0 16px;
        text-align: center;
      }
    }
  }
}