.sb-cta {
  .sb-cta-text {
    padding: 30px 0 20px 0;
    text-align: center !important;
    a {
      color: #666666 !important;
      font-size: $body-lg;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}