td.sb-message {
  @extend .sb-panel;

  padding: 20px 0;

  p {
    // margin: 0;
    margin: 0 10px;
    &.date {
      color: #666666;
      font-size: $normal;
      margin-bottom: 8px;
      margin-top: 15px;
      .on {
        color: #999999;
        font-size: $normal;
      }
    }

    &.name {
      color: #999999;
      font-size: $small;
      margin-bottom: 16px;
      padding-bottom: 12px;
      a {
        color: #666666 !important;
        font-size: $head-lg;
        font-weight: 700;

        &:hover,
        &:focus,
        &:active,
        &:visited {
          color: #444444;
        }
        &:hover {
          text-decoration: underline !important;
        }        
      }
    }

    &.subject {
      color: #666666;
      font-size: $head;
      font-weight: 700;
      line-height: $head * 1.2;
      margin-bottom: 20px;
      text-align: center;
    }

    &.body {
      font-size: $body;
      line-height: $body*1.4;
      margin-bottom: 24px;
    }
  }

  &.history {
    background: #f5f5f5;
    p {
      &.lede {
        border-bottom: solid 1px #cccccc;
        color: #aaaaaa;
        font-size: $head-sm;
        padding-bottom: 4px;
      }
      &.date {
        color: #888888;
        font-size: $small;
        margin-bottom: 0;
        margin-top: 15px;
        .on {
          color: #999999;
          font-size: $small;
        }
      }
      &.name {
        color: #999999;
        font-size: $small;
        margin-bottom: 0;
        padding-bottom: 4px;
        a {
          color: #888888 !important;
          font-size: $head;
          font-weight: 400;

          &:hover,
          &:focus,
          &:active,
          &:visited {
            color: #888888 !important;
            text-decoration: none !important;
          }      
        }
      }
      &.subject {
        color: #888888;
        font-size: $head-sm;
        font-weight: 700;
        margin-bottom: 16px;
        text-align: center;
      }
      &.body {
        color: #666666;
        font-size: $normal;
        line-height: $normal*1.4;
        margin-bottom: 12px;
      }
    }
  }
}