
td.sb-post {
  @extend .sb-panel;

  h1.title {
    font-size: $head-lg;
  }

  h2.title {
    font-size: $head;
    line-height: 1.25*$head;
  }
  .body {
    color: #888;
    font-size: $body;
    line-height: 1.25*$body;

    @include highlight-category;
  }
  .footer {
    color: #888;
    font-size: $body-sm;
    font-style: italic;
    margin-bottom: 16px;
    margin-top: 8px;
    text-align: right;
  }

  // the top-level post
  &.sb-post-main {
    .title {
      margin-bottom: 20px;
      margin-top: 25px;
    }
    .body {
      font-size: $body-lg;
      line-height: $body-lg * 1.25;
    }
    .footer {
      font-size: $body;
      margin-bottom: 25px;
    }
  }
}

td.sb-post-list {
  @extend .sb-panel;

  h3.title {
    font-size: $head-sm;
    font-weight: 400;
    @include highlight-category;

    a {
      color: #222222;
      &:hover,
      &:focus,
      &:visited {
        color: #444444 !important;
        text-decoration: underline !important;
      }
    }   
  }
}